@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>
<body>
@foreach (Pais PaisARecorrer in ViewBag.ListaPaises)
    {
        <img src='@PaisARecorrer.imgBandera' alt='@PaisARecorrer.Nombre'>
    }
</body>